body {
    padding: 0;
    margin: 0;
}
.main {
    min-height: 100%;
    height: calc(100vh - 100px);
    /* 消除滑块，将超出的.container处margin隐藏 */
    overflow: hidden;
}
#header {
    height: 40px;
}
#footer {
    text-align: center;
    background: #333;
    color: #fff;
    height: 60px;
    line-height: 60px;
}